@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(fonts/Bitter.woff2) format('woff2-variations');
}

@font-face {
    font-family: 'Bitter';
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url(fonts/Bitter-Italic.woff2) format('woff2-variations');
}

@font-face {
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(fonts/Commissioner.woff2) format('woff2-variations');
}

@font-face {
    font-family: 'Commissioner';
    font-style: oblique 0deg 12deg;
    font-weight: 400 700;
    font-display: swap;
    src: url(fonts/Commissioner.woff2) format('woff2-variations');
}
